header {
    align-items: center;
    background: rgb(80, 80, 80);
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    perspective: 100px;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    font-family: 'Verdana';
}

header:before {
    animation: fade-slide-down 2s 0.2s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0.6, 0.8)),
        url(../Images/nasa.jpg) no-repeat bottom;
    background-size: cover;
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

header:after {
    animation: rotate-up .5s .5s cubic-bezier(0, .5, 0, 1) forwards;
    background: rgb(45, 45, 45);
    content: "";
    height: 40rem;
    left: -5%;
    position: absolute;
    right: -5%;
    top: 90%;
    transform-origin: 0 0;
    /* transform: rotateZ(-4deg); */
    z-index: 0;
}

/* article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block !important;
} */

.header-content {
    top: 30vh;
    display: block;
    position: relative;
    /* size: 50vh; */
}

.header-image {
    width: 20vh;
    border-radius: 20px;
    /* position: absolute; */
    /* box-shadow: #4c4c4c; */
}

.animate-pop-in {
    animation: pop-in 0.6s cubic-bezier(0, .0, .3, 1.2) forwards;
    opacity: 0;
}

.header-title {
    animation-delay: .6s;
    color: rgb(206, 206, 206);
    /* color: black; */
}


.header-sub {
    animation-delay: .8s;
    color: rgb(155, 155, 155);
}

.header-button {
    animation-delay: 1s;
    left: 50%;
    right: 50%;
    background-color: #2f305a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.header-image {
    animation-delay: 1.2s;
}

.header-scroll-down {
    position: absolute;
    bottom: 4vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    /* animation-delay: 4s; */
}

.header-scroll-down img {
    animation: fade-slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
    opacity: 0;
}

/* .header-paragraph {
    animation-delay: 0.9s;
} */

/* animations */

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-slide-up {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: 0;
    }
}

@keyframes rotate-up {
    100% {
        transform: rotateZ(-4deg);
    }
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: none;
    }

    50% {
        opacity: .8;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}