.skills {
    align-items: center;
    background: rgb(80, 80, 80);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0.6, 0.8)),
        url(../Images/porsche.jpg) no-repeat bottom;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    perspective: 100px;
    position: relative;
    text-align: center;
    transform-style: preserve-3d;
    font-family: "Verdana";
    color: white;
}

.skills-scroll-up {
    position: absolute;
    top: 4vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.skills-left {
    left: 0;
    right: 50vh;
    position: absolute;
    top: 60vh;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 50px;
}

.skills-right {
    left: 50vh;
    right: 0;
    position: absolute;
    bottom: 60vh;
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 50px;
}

.skills-scroll-up img {
    animation: pulse 2s 3s ease-out infinite;
}

.skills-scroll-down {
    position: absolute;
    bottom: 4vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.skills-scroll-down img {
    animation: pulse 2s 3s ease-out infinite;
}

.skills-image-left {
    position: relative;
    border-radius: 20px;
    height: 30vh;
    right: 25vh;
    display: block;
    border: none;
    z-index: 500;
}

.skills-image-right {
    position: relative;
    border-radius: 20px;
    height: 30vh;
    left: 25vh;
    border: none;
}

.progress {
    width: 50%;
    margin: auto;
    /* background-color: #815438; */
}

.progress-bar {
    background-color: #a9dce3 !important;

}


.progress-bar-striped {
    background-image: linear-gradient(45deg, #7689de 25%, transparent 25%, transparent 50%, #7689de 50%, #7689de 75%, transparent 75%, transparent) !important;
    /* background-size: 1rem 1rem; */
}

/* animations */

@keyframes pulse {
    0% {
        opacity: 1;
        transform: none;
    }

    50% {
        opacity: .8;
        transform: scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}